@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-padding::placeholder {
    padding-left: 1rem; /* Tailwind equivalent: pl-4 */
}

/* styles.css */
.custom-transition {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 400px;
}
